body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 5px solid orange;
}

h1 {
    color: orange;
    margin-bottom: 50px;
}

.slideshow {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    height: auto;
}

.content {
    margin-top: 50px;
}

.section {
    margin: 20px 0;
    cursor: pointer;
}

.info-section {
    display: none;
    text-align: center;
    padding: 20px;
}

.sub-section {
    margin: 10px 0;
}

.active {
    display: block;
}


